/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* for full website  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}


/* common  */

.container{
    margin: 0 auto;
    padding:50px 50px;
}
.button{
    width: 196px;
    height: 44px;
    outline: 0;
    border: 0;
    padding: 10px 24px;
    color: #fff;
     background-color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    border-radius: 41px;
    cursor: pointer;
    box-shadow: 0 7px 0 #a5075e;
    position: relative;
    top: 0;
}
.button:active{
    top: 5px;
    box-shadow: 0 2px 0 #a5075e;
}
.star-icon{
    color: gold;
}
.section-title{
    text-align: center;
}
.section-title h2{
    font-size: 40px;
    display: inline-block;
    border-bottom: 5px solid #E02C6D;
    margin: 70px 0;

}
.highlight{
    color: #E02C6D;
}

/* nav-bar */

nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 15px 10px;
}
.nav-icon{
    display: none;
}

/* banner  */
.banner{
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1{
    font-size: 45px;
}
.banner-left p{
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.banner-right img{
    width: 100%;
}
.banner-right:hover img{
    transform: scale(1.2) skew(-20deg);
    transition: transform 2s ease-in-out;
    overflow-x: hidden;
}


/* populer collection */

.collection{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
.card{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    border-radius: 8px;
}
.card img{
    width: 100%;
}
.see-more a{
    text-decoration: none;
    color: #E02C6D;
}
.see-more{
    margin-top: 20px;
    text-align: end;
    color: #E02C6D;
}




/* contact  */

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.contact-left img{
    width: 100%;
}

.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 1px solid #E02C6D;
}

/* footer  */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    color: white;
    background-color: black;
}
footer i{
    padding: 10px;
    border-radius: 50%;
    background-color: gray;
    font-size: 20px;
    margin: 10px;
}
/* responsive for mobile */

@media only screen and (max-width: 688px){
    .container{
        margin: 0 auto;
        padding: 20px 20px;
    }
    .banner{
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .collection,
    .contact{
        grid-template-columns: 1fr;
    }
    
    .banner-left{
        order: 2;
        padding: 50px 0;
    }
    .nav-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 20px 0;
        transform:
        translateX(-400px);
        transition: .7s ease-in-out;
    }
    .navigation li a{
        color: #121212;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateX(0px);
    }
}


/* responsive for tablet  */

@media only screen and (min-width: 689px) and (max-width: 992px){
    .container{
        margin: 0 auto;
        padding: 30px 30px;
    }
    .banner{
        height: fit-content;
        align-content: center;
    }
    .banner-left h1{
        font-size: 35px;
    }
    .nav-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 20px 0;
        transform: translateY(-400px);
        transition: .7s ease-in-out;
    }
    .navigation li a{
        color: #121212;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(0px);
    }
    .collection{
        grid-template-columns: 1fr 1fr;
    }

    .contact{
        align-items: center;
    }
}
